############################
# OS / Editor
############################
.DS_Store
Thumbs.db
.vscode/
.idea/

############################
# Python
############################
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
env/
venv/

############################
# Environment variables
############################
.env
.env.*
*.env

############################
# Docker
############################
docker-compose.override.yml

############################
# Kubernetes
############################
kubeconfig.yaml

############################
# Terraform
############################
.terraform/
**/.terraform/
*.tfstate
*.tfstate.*
terraform.tfvars.json
*.tfvars
crash.log

############################
# GCP / Cloud
############################
*.json

############################
# Logs
############################
*.log

############################
# Helm
############################
*.tgz
