name: Backend CI

on:
  push:
    branches:
      - main
    paths:
      - "backend/**"

  workflow_dispatch:
    inputs:
      deploy:
        description: "Deploy backend to Kubernetes"
        required: true
        default: "true"

jobs:
  lint-and-check:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          cd backend
          pip install -r requirements.txt
          pip install flake8

      - name: Python lint (flake8)
        run: |
          cd backend
          flake8 app --max-line-length=100

      - name: Dockerfile lint (Hadolint)
        uses: hadolint/hadolint-action@v3.1.0
        with:
          dockerfile: backend/Dockerfile

  build-and-push:
    needs: lint-and-check
    runs-on: ubuntu-latest

    permissions:
      contents: read
      id-token: write
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: ./backend
          push: true
          tags: ghcr.io/${{ github.repository }}/backend:latest

      - name: Security scan (Trivy)
        uses: aquasecurity/trivy-action@0.20.0
        with:
          image-ref: ghcr.io/${{ github.repository }}/backend:latest
          format: table
          exit-code: 0

      - name: Set up kubectl
        uses: azure/setup-kubectl@v4
        with:
          version: v1.29.0

      - name: Set up Helm
        uses: azure/setup-helm@v4
        with:
          version: v3.14.0

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: 'projects/381783402939/locations/global/workloadIdentityPools/github-pool/providers/github-provider'
          service_account: 'github-actions-terraform@charismatic-sum-485115-k9.iam.gserviceaccount.com'

      - name: Get GKE credentials
        uses: google-github-actions/get-gke-credentials@v2
        with:
          cluster_name: devops-final-gke
          location: us-central1
          project_id: charismatic-sum-485115-k9

      - name: Deploy to Kubernetes
        if: ${{ github.event_name == 'workflow_dispatch' && github.event.inputs.deploy != 'false' || github.event_name == 'push' }}
        run: |
          helm upgrade --install backend ./k8s/helm/backend
