name: Backend CI

on:
  push:
    branches:
      - main
    paths:
      - "backend/**"

  workflow_dispatch:
    inputs:
      deploy:
        description: "Deploy backend to Kubernetes"
        required: true
        default: "true"

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      id-token: write
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: ./backend
          push: true
          tags: |
            ghcr.io/${{ github.repository }}/backend:latest

      - name: Set up kubectl
        uses: azure/setup-kubectl@v4
        with:
          version: v1.29.0

      - name: Set up Helm
        uses: azure/setup-helm@v4
        with:
          version: v3.14.0

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: "projects/563486470074/locations/global/workloadIdentityPools/github-pool/providers/github-provider"
          service_account: "github-ci@project-bd5be697-574d-46e6-9b8.iam.gserviceaccount.com"

      - name: Set up gcloud
        uses: google-github-actions/setup-gcloud@v2

      - name: Get GKE credentials
        run: |
          gcloud container clusters get-credentials devops-final-gke \
            --region us-central1 \
            --project project-bd5be697-574d-46e6-9b8  

      - name: Deploy to Kubernetes
        if: ${{ github.event_name == 'workflow_dispatch' && github.event.inputs.deploy != 'false' || github.event_name == 'push' }}

        run: |
          helm upgrade --install backend ./k8s/helm/backend
